.about__main {
  margin-top: 110px;
}

.title__main {
  color: #323875;
  font-weight: bold;
  margin: 80px 0;
  text-align: center;
  font-family: cultureB;
}

.title__sub {
  margin: 80px 0 60px 0;
  text-align: center;
  color: #f54767;
}

.goal {
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px 30px 20px;
  color: #f54767;
}

.goal__text {
  width: 100%;
  padding: 20px 20px;
  line-height: 1.4;
  font-size: 19px;
  text-align: justify;
  background-color: #bfd5db;
  margin-bottom: 50px;
  white-space: pre-wrap;
}

.img__wrapper {
  display: flex;
  margin-top: 70px;
}

.img {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 80px;
}

.background {
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  z-index: 101;
  touch-action: none;
  position: absolute;
}

.skill__modal {
  height: 200px;
  border-radius: 20px;
  width: 330px;
  position: fixed;
  top: 35%;
  left: 6.5%;
  background-color: #f2f2f2;
  -webkit-box-shadow: 6px 7px 11px 1px rgba(0, 0, 0, 0.48);
  box-shadow: 6px 7px 11px 1px rgba(0, 0, 0, 0.48);
  justify-content: center;
  text-align: center;
  animation: 0.7s ease 0s 1 modal;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.skill__container {
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #bfd5db;
  margin-bottom: 60px;
}

.skill {
  width: 50%;
}

.skill__title {
  font-size: 21px;
  margin: 30px 17px;
  padding: 10px 0;
  /* border: 0.1px solid #f2f2f2; */
  -webkit-box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.52);
  border-radius: 20px;
  background-color: #f2f2f2;
}

.skill__name {
  margin: 20px 0 20px 0;
  font-weight: bold;
  font-size: 20px;
  color: #323875;
}

.skill__text {
  white-space: pre-wrap;
}

/* 이전 작업물 */

.skill__img {
  width: 50px;
  margin-right: 8px;
  margin-bottom: 20px;
}

.education,
.award {
  list-style: none;
  padding-left: 0px;
}

.list {
}

.education,
.award {
  margin: 10px 0;
  font-size: 16px;
}

.award {
  text-align: end;
}

.head {
  padding: 20px 0;
}

.ux {
  text-align: end;
}
