.contact {
  margin-top: 100px;
  padding: 0 10px;
  /* display: flex;
  justify-items: center;
  flex-direction: column; */
}

.left {
  background-image: url("../public/images/contact/textleft.png");
}

.right {
  background-image: url("../public/images/contact/textright.png");
  align-self: flex-end;
  justify-content: end;
}

.content {
  display: flex;
  width: 90%;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-items: center;
}

.contact .contact__icon:nth-child(1) {
  width: 40px;
  height: 40px;
  margin-left: 12%;
  margin-right: 8%;
}

#gits {
  width: 50px;
  height: 50px;
}

.contact__text {
  font-size: 19px;
  font-family: cultureR;
}

.right .contact__text {
  margin-right: 10%;
}

/* 새거 */
.bubble {
  width: 230px;
  height: 80px;
}

.blue {
  margin-left: 36%;
}
.contact__icon {
  width: 40px;
  height: 40px;
}

.item {
  position: relative;
  top: -65px;
  right: -140px;
  width: 40%;
  display: flex;
  align-items: center;
}

.itemleft {
  display: flex;
  align-items: center;
  position: relative;
  top: -65px;
  right: 15px;
}
