.contact {
  padding-top: 20px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.chat {
  margin-bottom: 10px;
  width: 75%;
  align-self: center;
}

.left {
  background-image: url("../public/images/contact/textleft.png");
}

.right {
  background-image: url("../public/images/contact/textright.png");
}

.man {
  align-self: flex-end;
  width: 60%;
}

.container {
  width: 100%;
}

.content {
  display: flex;
  width: 85%;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-items: center;
}

.contact .contact__icon:nth-child(1) {
  width: 40px;
  height: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

#gits {
  width: 50px;
  height: 50px;
}

.contact__text {
  margin-right: 7%;
}
