@font-face {
  font-family: "NIX";
  font-weight: bold;
  src: url("../public/fonts/NIXGONFONTSB2.0.otf") format("opentype");
}
@font-face {
  font-family: "NIX";
  font-weight: normal;
  src: url("../public/fonts/NIXGONFONTSM2.0.otf") format("opentype");
}

@font-face {
  font-family: "cultureR";
  font-weight: normal;
  src: url("../public/fonts/cultureRegular.ttf") format("opentype");
}

@font-face {
  font-family: "cultureB";
  font-weight: bold;
  src: url("../public/fonts/cultureBold.ttf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "NIX", sans-serif;
  height: 110vh;
  background-color: #f2f2f2;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* splash */

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  background-color: #f2f2f2;
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  animation: slidein 1.5s 0.5s 1 ease-in normal both running;
}

@keyframes slideout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#splash__img {
  width: 80px;
  /* animation: 1s ease 0s 1 running slidein; */
}

#splash__text {
  color: white;
  font-weight: bold;
  position: relative;
  top: -105px;
  /* animation: 0s ease 0s 1 running slidein; */
}

@keyframes slidein {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* observer */

.slideup {
  animation: 2s ease 0s 1 running slideup;
}

@keyframes slideup {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideright {
  animation: 2s ease 0s 1 running slideright;
}

@keyframes slideright {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slideleft {
  animation: 2s ease 0s 1 running slideleft;
}

@keyframes slideleft {
  from {
    transform: translateX(20px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.pop {
  animation: popup 0.7s 0.5s 1 ease-in normal both running;
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.email {
  display: none;
}
