.main {
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  height: 100%;
}

.road {
  margin-top: 50px;
  width: 70%;
  z-index: 2;
}

.introduction {
  position: absolute;
  width: 90%;
  height: 15rem;
  background-color: bisque;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  -webkit-box-shadow: 4px 5px 4px 1px rgba(0, 0, 0, 0.43);
  box-shadow: 4px 5px 4px 1px rgba(0, 0, 0, 0.43);
  border-radius: 15px;
}

.tras {
  width: 30%;
  position: relative;
  top: 64%;
  right: 10%;
  z-index: 99;
}

.ctrlf {
  width: 30%;
  position: relative;
  top: 40%;
  right: -70%;
  z-index: 99;
}

.wrap__tras {
  position: absolute;
  width: 70%;
  height: 100%;
  margin-top: 50px;
}

.wrap__ctrlf {
  position: absolute;
  width: 70%;
  height: 100%;
  margin-top: 50px;
}
